@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('uni-sans.heavy-caps-webfont.woff2') format('woff2'),
         url('uni-sans.heavy-caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_sansthin_italic_caps';
    src: url('uni-sans.thin-italic-caps-webfont.woff2') format('woff2'),
         url('uni-sans.thin-italic-caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.container-fluid{
	width: 100%;
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 2%;
	box-sizing: border-box;
	overflow: hidden;
}
.navbar{
	width: 100%;
}
.navbar-brand{
	margin-left: 5%;
}
#navmenu{
	margin-left: 33%;
}
.nav-item{
    text-align: center;
	margin-right: 50px;
	margin-top: 20px;
}

.nav-item a{
	text-decoration: none;
	font-size: 38.8px;
	font-family:Bahnschrift;
	font-weight: 100;
	position: relative;
	color:#4DD0E1;
}
.nav-item a:hover{
	color: grey;
	
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0vw;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background-color:#4DD0E1;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after{
     width: 100%; 
     left: 0; 
}
.d-sm-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
	margin-top:165px;
}
.col-1{
	margin-top: 200px;
	flex-basis: 55%;
	position: relative;
	margin-left: 10px;
}
.col-1 h2{
	font-size: 138.1px;
	font-family:"uni_sansheavy_caps";
	color: #235196;
	margin-bottom: 0px;
	margin-top: 0px;
	
}
.col-1 h3{
	font-size: 99.2px;
	font-family:  "uni_sansthin_italic_caps";
	color: #4DD0E1;
	font-weight: 100;
	margin-top: -1.5vw;
	margin-bottom: 0px;
}
.col-1 p{
	font-size: 27px;
	font-family: Bahnschrift;
	font-weight: 100;
	color: #8E8E8E;
}

.col-2{
	position:relative;
	flex-basis: 40%;
	display:flex;
	align-items:center;
}
.col-2 .full-width{
	width: 1050px;
	margin-left: -10vw;
	margin-right: -10vw;
	margin-bottom: -10vw;
	margin-top: -1vw;
}
.row-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.col-3{
	margin-top: 150px;
	position:relative;
	flex-basis: 40%;
	display:flex;
	align-items:center;
	width: 100%;
}
.col-3 .full-width-2{
	width: 1100px;
	margin-left: -10vw; 
}
.col-4{
	flex-basis: 60%;
	position: relative;
	margin-left: 10px;
	margin-top: 300px;
}
.col-4 h3{
	font-size: 99.2px;
	font-family:  "uni_sansthin_italic_caps";
	color: #4DD0E1;
	font-weight: 100;
	margin-bottom: 0px;
	margin-left: 100px;
}
.col-4 p{
	font-size: 27px;
	font-family: Bahnschrift;
	font-weight: 100;
	color: #8E8E8E;
	margin-left: 100px;
	
}

.col-5{
	flex-basis: 60%;
	position: relative;
	margin-left: 10px;
}
.col-5 h3{
	font-size: 99.2px;
	font-family:  "uni_sansthin_italic_caps";
	color: #4DD0E1;
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-5 p{
	font-size: 27px;
	font-family: Bahnschrift;
	font-weight: 100;
	color: #8E8E8E;
}
.col-6{
	position:relative;
	flex-basis: 40%;
	display:flex;
	align-items:center;
}
.col-6 .full-width-3{
	width: 900px;
	margin-top: 100px;
	margin-left: -10vw;
}

@media only screen and (max-width:700px){
	.nav-item{
		text-align: left;
	}
	.nav-item a{
		font-size: 25px;
	}
	#navmenu{
		margin-left: 5%;
	}
	.d-sm-flex{
		flex-direction: column-reverse;
		margin: 20px 0;
		align-items: baseline;
	}
	.col-1{
		flex-basis:100%;
		width: 100%;
		margin-top: 100px;

	}
	.col-1 h2{
		font-size: 80px;
	}
	.col-1 h3{
		font-size: 60px;
	}
	.col-2{
		
		flex-basis: 100%;
		margin-top: 100px;
		width: 100%;
	}
	.col-2 .full-width{
		margin-top: 20px;
	    margin-left:-1vw;
		width:600px;
		
	}
	.row-2{
		display: block;
	}
	.col-3{
		flex-basis:100%;
		display: block;
		margin-bottom: 20px;
		margin-top: 20px;

	}
	.col-3 .full-width-2{
		
	    margin-left:-1vw;
		width:600px;
		
	}
	.col-4{
		margin-top: 50px;
		display: inline-block;
		flex-basis: 100%;
		width: 100%;
	}
	
	.col-4 h3{
		font-size: 60px;
		margin-left: 5px;
	}
	.col-4 p{
		margin-left: 5px;
		width: 100%;
	}
	.col-5{
		flex-basis:100%;
		width: 100%;
		margin-top: 10px;

	}
	.col-5 h2{
		font-size: 80px;
	}
	.col-5 h3{
		font-size: 60px;
	}
	.col-6{
		
		flex-basis: 100%;
		margin-top: 20px;
		width: 100%;
	}
	.col-6 .full-width-3{
		margin-top: 10px;
	    margin-left:2vw;
		width:500px;
		
	}
	
	
	
}